In [1]:
import pandas as pd
import numpy as np
import seaborn as sn 
import sklearn.linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import tensorflow as tf

In [21]:
dat = pd.read_csv("tournament_data.csv")
dat.head()

,Result,FNL1,FNL2,FSP.1,FSW.1,SSP.1,SSW.1,ACE.1,DBF.1,WNR.1,...,BPC.2,BPW.2,NPA.2,NPW.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
0,0,0.0,3.0,61,35,39,18,5.0,1.0,17.0,...,4.0,8.0,8.0,9.0,101.0,6.0,7.0,6.0,NaN,NaN
1,1,3.0,0.0,61,31,39,13,13.0,1.0,13.0,...,0.0,0.0,NaN,NaN,42.0,1.0,3.0,1.0,NaN,NaN
2,0,0.0,3.0,52,53,48,20,8.0,4.0,37.0,...,4.0,13.0,12.0,16.0,126.0,6.0,7.0,6.0,NaN,NaN
3,1,3.0,0.0,53,39,47,24,8.0,6.0,8.0,...,1.0,7.0,NaN,NaN,79.0,2.0,2.0,3.0,NaN,NaN
4,0,1.0,3.0,76,63,24,12,0.0,4.0,16.0,...,3.0,5.0,16.0,28.0,127.0,1.0,6.0,7.0,6.0,NaN

This ended up taking way too long and couldn't figure out cleaning and goals from this dataset.